* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121216;
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background-color: #1e1e23;
  padding: 30px;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

input[type="file"] {
  display: block;
  margin: 20px auto;
  background: #28282d;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
}

button {
  background-color: #008cff;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 10px;
}

button:hover {
  background-color: #0072d1;
}

.input-placa {
  width: 100%;
  max-width: 300px;
  padding: 12px 15px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: #2e2e33;
  color: white;
  outline: none;
  box-shadow: inset 0 0 5px #000;
  text-transform: uppercase;
}

.input-placa::placeholder {
  color: #bbb;
}

.botao-buscar {
  background-color: #008cff;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}

.botao-buscar:hover {
  background-color: #0072d1;
}
